

.main{
    background-image: url('./../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;

  } 




  .calendar{
    background-color: #ffff;
    font-family: "Roboto Mono",monospace;
    color: gray;
    font-size: 18px;
    border:1px solid;  
    border-color:gray !important;
    border-radius: 5px;
    width: 40%;
    height: 150%;
    text-align: center;
    margin-left: 55px;
  }

  .calendarLabel{
    font-family: "Roboto";
    font-size: 18px;
    color: gray;
  }

  .country-selector{
    
    color: gray;
    width: 75%;
    font-size: medium;
    height: 170%;
  }