
  .principal{
    background-color:#8080801a;
    height:100vh;
    width:100vw;
    position: relative;
  }

  .title{
    position:absolute;
    left: 20vw;
    top: 20vh;
    font-size: large;
  }

  .title h3{
    color: #33333381;
  }

  .animate__animated.animate__flipInX {
    --animate-duration: 2s;
  }

  .schedule{
    position:absolute;
    left: 30vw;
    top: 35vh;
    
  }