body {
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
  }



.lg-title{
    display: grid;
    place-items: center;
    font-family: 'Merriweather';
    font-size: 30px;
    color: #000000;
    max-width: 100%;
    margin-top: 60px;
    
}

.lg-upperTitle{
    display: block;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
}

.lg-upperTitle-img {
    max-width: 50%;
    height: auto;
  }

.lg-upperTitle .lg-button {
    color: black;
}



.lg-button {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "Roboto";
    height: 80px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 30px;
    max-width: 450px;
    width: 1000px;
    
  }
  
  .lg-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .lg-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .lg-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  button img {
      margin-right: 8px ;
      width: 20px;
      height: auto;
    }

.lg-description {
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    color: #000000;
    max-width: 100%;
    margin-top: 140px;

}