



.main{
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

}



.lg-title{
    display: grid;
    place-items: center;
    font-family: 'Roboto';
    font-size: 25px;
    color: #000000;
    max-width: 100%;
    margin-top: 140px;
    margin-bottom: 50px ;

    
}
.signInButton{
    display: grid;
    place-items: center;
    
}

.lg-upperTitle{
    position: relative;
    display: block;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    top: 50px;
    
}


.lg-upperTitle img {

    height: 150px;
  }


  

.lg-description {
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    color: #000000;
    max-width: 100%;
    margin-top: 200px;

}