* {
    font-family: "Roboto", sans-serif;
  }
  
  

.horizontal-nav {
    display: grid;
    background-color: white;
    height: 110px; /* Usamos unidades relativas para la altura */
    border-bottom-right-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 1px 2px, rgba(45, 35, 66, 0.3) 0 5px 10px -3px, #D6D6E7 0 -3px 0 inset;
    max-width: 100%; /* Limitamos el ancho máximo */
}

.search-results {
    position: absolute;
    margin-top: -28px;
    margin-left: 20vw;
    z-index: 999;
    background-color: white;
    border: 1px solid grey;
    max-width: 70%;
    
  }
  
.horizontal-nav img {
    display: grid;
    margin-top: 10px;
    width: 90px;
    height: 90px;
    object-fit: cover;
    background: white;
    overflow: hidden;
    margin-left: calc(100vw - 120px); /* ajustar el valor de "80px" según el ancho de la imagen */
    }

    .stylesSearchbar {
        margin-top: -65px;
        margin-left: 20vw;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        max-width: 30%;
    };


    .hoverable-div {
        border: 1px solid black;
        transition: background-color 0.5s;
      }
      
      .hoverable-div:hover {
        background-color: #f0f0f0;
      }



